@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*body{
    background: #9b1818;
}*/
header{
    height: 100px;   
    
}
.contenedor{
    width: 95%;
    max-width: 1400px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    padding-top:30px;
    padding-bottom: 30px;
}
.container__header{
    max-width: 1440px;
    height: 100px;
    margin: auto;
    padding: 0;
    padding-top: 50px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
.logo img{
    width: 120px;
}

.menu nav ul{
    display: flex;
    
}
.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}
.menu  nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opaciy 300ms;    
}
.menu nav ul li a:hover{
    
    font-size: 18px;
    text-decoration: underline;
    color: rgba(254,131,71,255);
}
.btn__header-register,
.btn__register-cover{
    padding: 14px 50px;
    border:none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}
.btn__header-register:hover,
.btn__register-cover:hover{
    background: #69f1a1;
    color: #000;
}
#icon_menu{
    display: none;
}

/* fin header */
.container_cover{
    width: 500%;
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    padding-top:30px;
    padding-bottom: 30px;
}
.cover{
    display: flex; 
    justify-content:space-around;
    margin-top: 60px;
}
.text__information-cover{
    width: 80%;
}
.text__information-cover h1{
    font-size: 50px;
}
.text__information-cover p{
    font-size: 18px;
    margin-top: 45px;
}
.buttons__cover{
    display: flex;
    margin-top: 40px;
}
.btn__readmore-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}
.btn__readmore-cover:hover{
    background: #e8e8e8;
    color: #000;
}
.media__cover{
    width: 65%;    
}
.media__cover video{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}
/*carousel*/

.carousel{
    margin-top: 0px;
    padding: 60px;
}
.carousel h2{
    margin-top: 0px;
    text-align:left;    
}
/*Fin carousel*/

/*Productos*/
.productos{
    background: #f2f2f2;
}
.container_slide{
    background: #f2f2f2;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 0;
    padding-top:10px;
    padding-bottom: 10px;
}
.d-block{
    width: 100%;
}

/*Fin Productos*/
/*Promociones*/
.promociones{
    background:white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
}


.img-promos{
    padding:5px;
    width: 330px;
    height: 80%;
    border-radius: 30px;
    border: 2px solid black;
    background-color: blanchedalmond;
    margin-top: 50px;
 




}


/*Categorias Card*/
.categorias{
   background: #f2f2f2;
}
.container_card{
    width: 95%;
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    padding-top:30px;
    padding-bottom: 30px;

    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.card{
    padding: 20px;
    width: 230px;
    height: 40%;
    border-radius: 30px;
    border: 2px solid black;
    background-color: blanchedalmond;
    margin-top: 30px;

}



footer{
    background: #f35252;
    height: 100%;
    display: flex;
    
    
}
.footerContenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 200px;
}
.footerSocial{
    display: flex;    
    justify-content:space-evenly;
    align-items: center;
    flex-wrap:nowrap;
    padding-top: 35px;
    padding-bottom: 200px;
}


/*

@media (max-width: 1024px) {
    .container__header,
    main{
        padding: 20px;
    }
    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }
    .header__register{
        display: none;        
    }    
    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top:70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rbga(0,0,0,0.5);
        transition: all 300ms;
    }
    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }
    .menu nav ul li{
        padding: 10px 40px;
    }
    /*minupulada con js*/
    /*
    .mostrar_menu{ 
        height: 235px;
    }
    .text__information-cover h1{
        font-size: 40px;

    }
    .text__information-cover p{
        font-size: 16px;
    }
    .banner__text h2{
        font-size: 22px;
    }
    #icon_heart{
        left: -60px;
    }
    .banner__icon-fire{
        right: -20;
    }
}

@media (max-width:920px){
    .text__information-cover{
        width: 100;
    }
    .media__cover{
        display: none;
    }
    .banner{
        height: auto;
        flex-wrap: wrap;
    }
    #icon_fire{
        display: none;
    }
    #icon_heart{
        left: 0;
    }
    .banner_text{
        width: 100%;
        margin-top: -100px;
    }
}